<nav class="w-full h-16 flex justify-between">
    <div class="left flex justify-center items-center px-4">
        <div class="flex">
            <img src="../images/pinterest-icon.svg" alt="">
        </div>
        <div>
            <a href="#">Today</a>
            <a href="#">Watch</a>
            <a href="#">Explore</a>
        </div>
    </div>

    <div class="right flex justify-center items-center px-4">
        <div>
            <a href="#">About</a>
            <a href="#">Business</a>
            <a href="#">Press</a>
        </div>
        <div>
            <a href="#">Log in</a>
            <a href="#">Sign up</a>
        </div>
    </div>
</nav>