<!--! Pinterest Home Page Navbar  -->

<nav class="w-full h-20 md:hidden lg:flex justify-between hidden">
    <!-- nav 1 -->
    <div class="left flex justify-center items-center px-5">
        <div class="flex items-center justify-center">
            <img src="../images/pinterest-icon.svg" alt="">
            <p class="text-red-600 font-semibold text-xl">Pinterest</p>
        </div>
        <div>
            <a href="#" class="px-4 font-semibold">Today</a>
            <a href="#" class="px-4 font-semibold">Watch</a>
            <a href="#" class="px-4 font-semibold">Explore</a>
        </div>
    </div>

    <!-- nav 2 -->
    <div class="right flex justify-center items-center px-5">
        <div>
            <a href="#" class="px-4 font-semibold">About</a>
            <a href="#" class="px-4 font-semibold">Business</a>
            <a href="#" class="px-4 font-semibold">Press</a>
        </div>
        <div class="px-2">
            <a href="/" class="px-3 py-2 rounded-full font-semibold bg-red-600 text-white">Log in</a>
            <a href="/register" class="px-3 py-2 rounded-full font-semibold bg-gray-200">Sign up</a>
        </div>
    </div>
</nav>