<!--! Pinterest Home Page Navbar After Login, For Profile and Feed Page  -->

<nav class="w-full h-20 md:hidden lg:flex justify-between items-center">
    <!-- nav 1 -->
    <div class="left flex justify-center items-center px-5">
        <div class="flex items-center justify-center w-10 mx-2">
            <img src="../images/pinterest-icon.svg" alt="">
        </div>
        <div>
            <a href="/feed" class="px-4 py-3 font-semibold rounded-full focus:bg-black focus:text-white transition-all duration-300 ">Home</a>
            <a href="/feed" class="px-4 py-3 font-semibold rounded-full focus:bg-black focus:text-white transition-all duration-300 ">Explore</a>
            <a href="/add" class="px-4 py-3 font-semibold rounded-full focus:bg-black focus:text-white transition-all duration-300 ">Create</a>
        </div>
    </div>

    <!-- Search Bar -->

    <!-- nav 2 -->
    <div class="right flex justify-center items-center px-5">
        <!-- Logout BTN -->
        <div class="logout-btn bg-red-600 text-white px-3 py-2 rounded-full mx-1">
            <a href="/logout">Logout</a>
        </div>

        <div class="bell px-3">
            <a href="">
                <i class="text-2xl text-[#5F5F5F] fa-solid fa-bell"></i>
            </a>
        </div>

        <div class="message px-3">
            <a href="">
                <i class="text-2xl text-[#5F5F5F] fa-solid fa-comment-dots"></i>
            </a>
        </div>

        <div class="profile-circle w-9 h-9 rounded-full overflow-hidden border-2 border-black flex items-center justify-center">
            <a href="/profile" class="rounded-full bg-cover bg-center">
                <img src="/images/uploads/<%= user.profileImage %>" alt="profile" class=" rounded-full w-7 h-7">
            </a>
        </div>

        <div class="arrow-down px-2">
            <a href="">
            <i class="text-sm text-[#5F5F5F] fa-solid fa-chevron-down"></i>
            </a>
        </div>      
    </div>
</nav>
<hr>