<% include ./partials/Header.ejs %>

<% include ./partials/LoggedinNav.ejs %>

        <div class="profile-container w-full min-h-screen my-2">
            <!-- Hidden Form For File Upload -->
            <form id="uploadForm" hidden action="/fileUpload" method="post" enctype="multipart/form-data">
                <input type="file" name="image">
            </form>

            <!-- Profile Details -->
            <div class="profile-dets flex flex-col items-center">
                <div class="relative">
                    <span id="uploadIcon" class="w-8 h-8 absolute bottom-0 right-0 rounded-full bg-white border-2 border-gray-900 flex justify-center items-center cursor-pointer">
                        <i class="fa-solid fa-pencil"></i>
                    </span>
                    <div href="#" class="bg-gray-300 text-center w-32 h-32 rounded-full overflow-hidden">
                        <img src="/images/uploads/<%= user.profileImage %>" alt="profile" class="w-32 h-32">
                    </div>
                </div>
                <h3 class="my-2 text-4xl"><%= user.fullname %></h3>
                <p class="my-2 text-sm text-[#5F5F5F]">@<%= user.username %></p>
                <p class="my-2 text-md">0 Following</p>
                <div class="btns my-5">
                    <a href="/add"
                        class="bg-zinc-200 p-3 hover:bg-zinc-300 transition-all duration-300 rounded-full">Create Post</a>
                    <a href="/edit"
                        class="bg-zinc-200 p-3 hover:bg-zinc-300 transition-all duration-300 rounded-full">Edit
                        Profile</a>
                </div>
            </div>

            <!-- Created & Saved Buttons -->
            <div class="w-full h-fit p-5 my-3 flex justify-center items-center gap-3">
                <a href="#" class="font-semibold text-base rounded-md px-4 py-2 hover:bg-zinc-200 focus:underline decoration-2 focus:bg-white underline-offset-8 transition-all duration-300">Created</a>
                <a href="#" class="font-semibold text-base rounded-md px-4 py-2 hover:bg-zinc-200 underline decoration-2 focus:bg-white underline-offset-8 transition-all duration-300">Saved</a>
            </div>

            <!-- Cards -->
            <div class="cards flex justify-center flex-wrap gap-5 mt-8 p-5">
                <div class="card">
                    <div class="w-64 h-40 bg-black rounded-xl overflow-hidden">
                        <img src="https://i.pinimg.com/564x/55/3b/bc/553bbc6785080a9d203427dbaf1016a5.jpg" alt="img" class="w-full h-full object-cover">
                    </div>
                    <h3 class="pl-1 text-xl font-medium pt-2">Pin Name</h3>
                    <h5 class="pl-1 text-xs text-zinc-600">23 Pins</h5>
                </div>
                <div class="card">
                    <div class="w-64 h-40 bg-black rounded-xl overflow-hidden">
                        <img src="https://i.pinimg.com/564x/55/3b/bc/553bbc6785080a9d203427dbaf1016a5.jpg" alt="img" class="w-full h-full object-cover">
                    </div>
                    <h3 class="pl-1 text-xl font-medium pt-2">Pin Name</h3>
                    <h5 class="pl-1 text-xs text-zinc-600">23 Pins</h5>
                </div>
                
            </div>
        </div>

        <!-- Script For Displaying Image Upload When Edit icon is clicked -->
        <script>
            const uploadIcon = document.querySelector('#uploadIcon');
            uploadIcon.addEventListener('click', (e)=>{
                document.querySelector('#uploadForm input').click();
            })

            document.querySelector('#uploadForm input').addEventListener('change', ()=>{
                document.querySelector('#uploadForm').submit();
            })
        </script>

<% include ./partials/Footer.ejs %>