<% include ./partials/Header.ejs %>
<% include ./partials/LoggedinNav.ejs %>

<div class="w-full h-min-screen">

    <div class="flex justify-center my-5">
        <h1 class="text-3xl font-semibold">All Pins</h1>
    </div>

    <div class="cards flex justify-evenly flex-wrap gap-5 mt-8 p-5">
        <% if (user.posts && user.posts.length > 0) { %>
            <% user.posts.forEach(post => { %>
                <div class="card my-2">
                    <div class="w-64 h-40 border-2 border-black rounded-xl overflow-hidden">
                        <img src="/images/uploads/<%= post.image %>" alt="img" class="w-full h-full object-cover">
                    </div>
                    <a href="/show/posts" class="inline-block pl-1 text-xl font-medium pt-2"><%= post.title %></a>
                    <p class="pt-2 pl-1 text-sm"><%= post.description %></p>
                </div>
            <% }); %>
        <% } else { %>
            <div class="flex flex-col items-center gap-6">
                <p class="text-center">No posts available.</p>
                <a href="/add" class="text-white bg-red-600 p-3 hover:bg-red-700 transition-all duration-300 rounded-full">Create Post</a>
            </div>
        <% } %>
    </div>
</div>

<% include ./partials/Footer.ejs %>
